<!--basic ejs boilerplate-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/formvalidation/dist/css/formValidation.min.css" />
  <!-- Navbar styles for this template important to add type="text/html" -->
  <link href="sticky-footer-navbar.css" rel="stylesheet" type="text/html">
  <meta name="description" content="Monnem Camping">
  <meta name="author" content="Mina">
  <link rel="icon" href="../../favicon.ico">
  <style>
    body {margin-top: 70px;}
  </style>

  <title>Boilerplate</title>
</head>
  <%- include('../partials/navbar') %>
  <main class="container-fluid">
  <%- body %>
  </main>

  <%- include('../partials/footer') %>
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


</body>
</html>
